.minetrc
.env

__pycache__
.ipynb_checkpoints/
*.ipynb

*.csv
*.csv#

!data/domains_condor_data/list_domains_condor.csv
!data/domains_sciencefeedback_data/list_domains_sciencefeedback.csv
!data/groups_crowdtangle_search/list_reduced_posts.csv
!data/groups_crowdtangle_search/list_groups_crowdtangle_search.csv
!data/groups_sciencefeedback_data/list_groups_sciencefeedback.csv

*.png
